.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  height: 400px;
  margin: 120px 0 0 0;
  width: 100%;
  
  background-color: #faa700;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}