.button {
  background-color: #143d59;
  color: white;
}

.error {
  align-items: center;
  display: none;
  flex-direction: row;
  justify-content: center;

  border: solid red 5px;
  color: red;
  margin-top: 15px;
}

.error-empty {
  align-items: center;
  display: none;
  flex-direction: row;
  justify-content: center;

  border: solid red 5px;
  color: red;
  margin-top: 15px;
}

.error-length {
  align-items: center;
  display: none;
  flex-direction: row;
  justify-content: center;

  border: solid red 5px;
  color: red;
  margin-top: 15px;
}
.error-message {
  margin: 15px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-bottom {
  display: flex;
  font-family: 'Bungee', cursive;
  justify-content: space-between;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-area {
  background-color: #f4f1ec;
  border: none;
  border-bottom: solid black 5px;
  margin-bottom: 15px;
  outline: none; 
}

