.button {
background-color: #4056A1;
color: white;
}

.error {
  margin-top: 15px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: solid red 5px;
  color: red;
}

.error-message {
  margin: 15px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-bottom {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.new-tweet {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-area {
  border: none;
  outline: none;
  border-bottom: solid black 5px;
  background-color: #f4f1ec;
  margin-bottom: 15px;
}

